@tailwind base;
@layer base {
    body {
        font-family: var(--font-figtree), system-ui, sans-serif;
    }
}
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #111827;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.Toastify__toast-body {
    padding: 0px !important;
}


@keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }